:root {
  --brand: #b91f33;
  --primary: #101417;
  --contrast: #e0e34c;
  --gray-light: #e1e1e1;
  --gray-medium: #666666;
  --white: #ffffff;
  --black: #000000;
  --rounded: 3px;
  --section-space: 100px;
  --swiper-navigation-color: var(--brand);
}

/* seletor all//todos */
* {
  font-family: "Teko", sans-serif;
  text-transform: uppercase; /* aplicar maiúsculo aos textos*/
}

html {
  scroll-behavior: smooth; /* Faz com que a navegação fique suave */
}

#academia {
  scroll-margin-top: 180px;
}
#planos {
  scroll-margin-top: 120px;
}
#contato {
  scroll-margin-top: 150px;
}

body {
  margin: 0;
  background-color: var(--primary);
  overflow-x: hidden; /* esconder o conteudo ultrapassar a largura do body */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  color: var(--white);
  font-size: 40px;
  line-height: 85%;
}

p {
  font-size: 18px;
  line-height: 120%;
  color: var(--gray-light);
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  max-width: 1140px; /*largura*/
  height: auto; /*altura*/
  /* contraliza a div */
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.popup {
  position: relative;
}

.fechar {
  color: white;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  right: 25px;
  top: -20px;
  cursor: pointer;
}

.bg-popup {
  position: fixed;
  z-index: 100; /* Trazer o elemento para frente */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-popup-none {
  display: none;
}

.header {
  background-color: var(--black);
  padding-top: 18px;
  padding-bottom: 18px;
  /* Posição fixa APÓS começar a rolar a página */
  position: sticky;
  top: 0;
  z-index: 1;
}

.header .container {
  display: flex; /* Habilita o FLEXBOX */
  justify-content: space-between; /* Alinhamento no eixo x (Horizontal)*/
  align-items: center; /* alinhamento no eixo y (Vertical)*/
}
/* formatando todos os links do menu */
.menu a {
  color: var(--white);
  font-size: 18px;
  font-weight: 700;
  margin-left: 111px;
}
/* Ao passar o mouse nos links do menu */
.menu a:hover {
  color: var(--brand);
}

.gp-01 {
  background-image: url(../img/background.jpg);
}

.gp-02 {
  background-image: url(../img/background-2.jpg);
}

.gp-03 {
  background-image: url(../img/background-3.jpg);
}

.hero-section {
  height: calc(
    100vh - 100px
  ); /* View HEIGHT -> Unidade referente ao navegador*/
  background-size: cover; /* Faz com que a imagem cubra toda a div*/
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-section h1 {
  color: var(--gray-light);
  font-size: 96px;
  line-height: 90%;
}

.hero-section p {
  color: var(--gray-light);
  font-size: 24px;
}

.btn {
  background-color: var(--brand);
  color: var(--gray-light);
  font-size: 18px;
  padding: 10px 60px 6px 60px; /* top right bottom left */
  border-radius: 3px;
  display: inline-block;
  transition: calc(0.3s);
  cursor: pointer;

  /* cursor: url(..//img/cursor.png) 14 14, pointer; */
}
.btn:hover {
  transform: scale(0.96);
}

.btn-outline {
  background-color: transparent;
  border: solid 2px var(--brand);
}

.nossa-academia {
  margin-top: var(--section-space);
  margin-bottom: var(--section-space);
  display: flex;
  align-items: center;
  column-gap: 24px; /* Espaçamento entre os flex-items */
}

.faca-parte {
  background-color: var(--gray-light);
}
.faca-parte h2 {
  color: var(--black);
}
.faca-parte p {
  color: var(--gray-medium);
}
.faca-parte .content {
  width: calc(100% - 200px);
  max-width: 850px;
  padding: 37px 0;
}

.faca-parte .container {
  /* Posição para servir de referncia ao absolute da imagem */
  position: relative;
}
/* Posição em relação ao elemento pai (Desde que ele também tenha position, caso contrário será em relação ao body) */
.faca-parte .imagem {
  position: absolute;
  bottom: 0;
  right: 0;
}
.planos {
  margin-top: var(--section-space);
  margin-bottom: var(--section-space);
  text-align: center;
}

.flex-cards {
  display: flex;
  column-gap: 24px;
}

.card {
  border: 1px solid var(--gray-light);
  border-radius: var(--rounded);
  padding: 30px;
}

.card h3 {
  color: var(--white);
  font-size: 32px;
}
.card ul {
  color: var(--gray-light);
  text-align: left;
  font-size: 18px;
  line-height: 120%;
  padding: 0;
  list-style-position: inside; /* Posição do marcador da lista */
}

.card .btn {
  display: block;
}

.card-destaque {
  border-color: var(--contrast);
  position: relative;
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.selo {
  animation: rotate 10s infinite linear;
  width: 70px;
  height: 70px;
  background-color: var(--contrast);
  border-radius: 35px;
  align-items: center;
  display: flex;
  line-height: 90%;
  text-align: center;
  position: absolute;
  right: -15px;
  top: -10px;
}
.card-destaque .price {
  color: var(--contrast);
}
.price {
  color: var(--white);
  font-weight: 700;
  font-size: 32px;
}

.fale-conosco {
  display: flex;
  column-gap: 24px;
}

.fale-conosco input,
.fale-conosco textarea {
  display: block;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: solid 1px var(--gray-light);
  border-radius: var(--rounded);
  padding: 10px;
  box-sizing: border-box; /* faz com que o padding e border não aumente as dimensões */
  margin-bottom: 10px;
  color: var(--white);
  font-size: 18px;
}

.fale-conosco textarea {
  height: 140px;
}

.fale-conosco ::placeholder {
  color: var(--gray-medium);
}

.footer {
  background-color: var(--brand);
  text-align: center;
  padding: 14px 194px; /* vertical  */
  margin-top: var(--section-space);
  margin-bottom: 30px;
}
.footer p {
  margin: 0;
}
.social {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  margin-bottom: var(--section-space);
}

@media (max-width: 1279px) {
  h2 {
    font-size: 32px;
  }

  .card h3 {
    font-size: 24px;
  }
  .menu {
    /* display: none; */
    /* background-color: var(--brand); */
    background-image: linear-gradient(var(--black), var(--primary));
    width: 100%;
    height: calc(100vh - 100px);
    /* height: 420px; */
    position: absolute;
    left: 0;
    top: 100px;
    display: flex;
    flex-direction: column;
    transform: translateX(-100%);
    transition: 0.5s;
  }

  .menu-open {
    transform: translateX(0);
  }

  .menu a {
    padding: 25px 15px;
    margin: 0;
    padding-left: 15px;
    border-bottom: 1px solid var(--gray-medium);
  }
  /* Enquanto o usuário está tocando/clicando no link */
  .menu a:active {
    background-color: var(--brand);
    color: var(--white);
  }

  .bar {
    width: 40px;
    height: 3px;
    background-color: var(--white);
    margin-bottom: 3px;
    transition: 0.3s;
  }

  .x .bar:first-child {
    transform: rotate(45deg) translate(5px, 5px);
    transition-delay: 0.3s;
  }

  .x .bar:last-child {
    transform: rotate(-45deg) translate(3px, -3px);
    transition-delay: 0.3s;
  }

  .x .bar:nth-child(2) {
    opacity: 0;
    transform: translateX(-200px);
  }

  .hero-section {
    /* height: auto;
        padding-top: 94px;
        padding-bottom: 94px; */
    height: 420px;
    background-position: top center;
  }

  .hero-section h1 {
    font-size: 36px;
  }

  .hero-section p {
    font-size: 18px;
  }
}

@media (max-width: 1023px) {
  .nossa-academia {
    flex-direction: column;
    row-gap: 40px;
  }

  .nossa-academia img {
    width: 100%;
  }
  /* Quando o direction estiver em coluna, justify-content e align-item trocam o alinhamento.
    
    SÓ FUNCIONA COM FLEX-DIRECTION*/
  .flex-cards {
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
  }

  .card {
    max-width: 450px;
  }

  .fale-conosco {
    flex-direction: column;
    row-gap: 30px;
  }

  .fale-conosco iframe {
    width: 100%;
  }

  .footer {
    padding: 14px;
  }
}
@media (max-width: 650px) {
  .faca-parte .content {
    width: 100%;
  }

  .faca-parte .imagem {
    display: none;
  }

  .popup img {
    width: 320px;
  }
}
